SELECT optname
      ,value
      ,major_version
      ,minor_version
      ,revision
      ,install_failures
  FROM master.dbo.MSreplication_options
--Z:\dev\SQLQuery12.sql

SELECT top 1 optname
      ,value
      ,major_version
      ,minor_version
      ,revision
      ,install_failures
  FROM master.dbo.MSreplication_options
--Z:\dev\SQLQuery12.sql

--20100711-1056\SQLEXPRESS\Databases\System Databases\master\Tables\System Tables\dbo.MSreplication_options

select @@version
--Microsoft SQL Server 2005 - 9.00.4035.00 (Intel X86)   
--Nov 24 2008 13:01:59   Copyright (c) 1988-2005 Microsoft Corporation  Express Edition on Windows NT 5.1 (Build 2600: Service Pack 3) 
